<div class="card .xl-width">
  <h2 class="info">Never ask 'whats for dinner?' again</h2>

  <h3 class="info">Dinnerwhat? </h3>
    <p class="info">
    Dinnerlove 🥑 is a simple and easy way to plan your meals for a week, keep track of your favourite meals, and come up with new meal ideas.
    Anyone can shuffle through a weeks worth of meals which are displayed at random from the ever growing database. However, for the full experience you should make an account and log in. All that’s required is your email address and a password, we won’t ask for any personal information, drop cookies on you or do any other nonsense your used too.
    Joining Dinnerlove lets you add new meals, favourite meals, and save two weeks worth of meal plans (this week and next week).
    </p>

  <h3 class="info">Unlock the power!</h3>
  <p class="info">
    Lets be honest, Dinnerlove is pretty simple but there are a few things you can do to maximize your experience. In the future I hope to add some functionality to enable users to sort dinners by specific tags; Italian, vegetarian, 10 minutes, that sort of thing.  At the moment that doesn’t exist; however if you have dietary restrictions or just like some foods better then others you can always go here to view all dinners.  Sort though that list “loving” (click the heart icon) your favourite dishes.  Go into your settings and select the option “Only show meals you have loved?”.  You’ll only only see meals you have loved (so be sure to love a lot).
  </p>

  <h3 class="info">Administrative stuff</h3>
  <p class="info">
    Dinnerlove is a project of Travis Fantina, built mostly for my wife and my own laziness in choosing/remembering meals.  All content on this site (except for the dinners) was created by me (Travis) with the exception of the default dinner image which was created by Katerina Limpitsouni, check out her illustrations at undraw.co.
  </p>
  <p class="info">
    The Dinnerlove codebase is on Github, feel free to contribute or whatever.

  </p>
  </div>


  <%= render "/layouts/sub_footer", links: [:shuffle, :add_dinner] %>
