<div class="button-log">
<% if meals[:this_week] != nil %>
  <%= active_week(meals[:this_week], current_week) %>
<% end %>
<% if meals[:next_week] != nil %>
  <%= active_week(meals[:next_week], current_week) %>
<% end %>
</div>
