<div class="md">
Meals for the week of: 

<div class="button-log">
<% puts "#{@meal_plans[:next_week]} THIS IS THE OUTPUT"%>
<% if @meal_plans[:this_week] != nil %>
<%= link_to @meal_plans[:this_week].weekof, meal_plan_path(@meal_plans[:this_week].id), class: "button button-show#{active_week(@meal_plans, @meal_plan, :this_week)} button-log-radius" %>
<% end %>
<% if @meal_plans[:next_week] != nil %>
<%= link_to @meal_plans[:next_week].weekof, meal_plan_path(@meal_plans[:next_week].id), class: "button button-show#{active_week(@meal_plans, @meal_plan, :next_week)} button-log-radius" %>
<% end %>
</div>
<%= render "/shared/meals_layout", meals: @meal_plan.dinners %>
