<div class="flex center">
<div class="max-width dinner-array text-gray-700 font-semibold">
  <% random_dinners_by_day(meals).each do |dinner| %>
  <%= render "/dinners/dinner_card", dinner: dinner %>
  <% end %>

</div>
</div>
