/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 */

.flex {
  display: flex;
}

.center {
  justify-content: center;
}
.mid-width {
  min-width: 40rem;
  max-width: 100rem;
}

.xl-width {
  width: 60%;
}
.max-width {
  width: 90%;
}

.card {
  box-shadow: 2px 4px 6px hsla(200, 56%, 10%, 0.45);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
  margin: 2rem;
  border-radius: 0.25rem;
}

.card-header {
  width: 100%;
  border-bottom-color: #1c924f;
  border-bottom-width: 0.4px;
  margin-bottom: 1rem;
}
.card-header h2 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #0b1e28;
}
.card-img {
  width: 100%;
  overflow: hidden;
}
.card-img-sm {
  width: 100%;
  height: 4rem;
  overflow: hidden;
}

.field {
  padding-bottom: 1rem;
}
