/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 
 */

.button-log {
  display: flex;
}

a.button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.button-create {
  font-weight: 700;
  color: #ffffff;
  background-color: #48bb78;
}

.button-show {
  font-weigth: 700;
  color: #ffffff;
  background-color: #dd6b20;
}

.button-show-active {
  font-weight: 700;
  text-decoration: underline;
  color: #ffffff;
  background-color: #c05621;
}

.button-create:hover,
.button-create:active {
  background-color: #2f855a;
}

.button-log-radius {
  border-left-color: aquamarine;
  border-width: 0.5px;
}

.button-log-radius:first-child {
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px;
}
.button-log-radius:last-child {
  border-bottom-right-radius: 9999px;
  border-top-right-radius: 9999px;
  border-width: 0px;
}
.button-log-radius:only-of-type {
  border-radius: 9999px;
  border-width: 0px;
}
