/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 */

h2.info {
  font-size: 0.8rem;
  font-weight: 600;
}
h3.info {
  margin-top: 1rem;
  font-size: 0.5rem;
  font-weight: 600;
}

p.info {
  margin-top: 0.5rem;
}

.flex {
  display: flex;
}

.page-content {
  min-height: 100vh;
  position: relative;
}

.center {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.left {
  margin-left: 0px;
  justify-content: flex-start;
  padding: 2rem;
  position: relative;
  width: 100%;
}

.sm-width {
  min-width: 60%;
}
.mid-width {
  width: 100%;
}

.xl-width {
  width: 100%;
}
.max-width {
  width: 100%;
}

.headline {
  font-size: 1.4rem;
  font-weight: bolder;
}
.card {
  box-shadow: 2px 4px 6px hsla(200, 56%, 10%, 0.45);
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
  margin: 2px;
  border-radius: 0.25rem;
}

.card-header {
  width: 100%;
  border-bottom-color: #1c924f;
  border-bottom-width: 0.4px;
  margin-bottom: 1rem;
}
.card-header h2 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #0b1e28;
}
.card-img {
  width: 100%;
  overflow: hidden;
}
.card-img-md {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.card-img-sm {
  width: 100%;
  height: 4rem;
  overflow: hidden;
}

.field {
  padding-bottom: 1rem;
}

@media only screen and (min-width: 600px) {
  h2.info {
    font-size: 2rem;
  }
  h3.info {
    font-size: 1.2rem;
  }
  .sm-width {
    min-width: 5rem;
    max-width: 8rem;
  }
  .mid-width {
    min-width: 40rem;
    max-width: 100rem;
  }

  .xl-width {
    width: 60%;
  }
  .max-width {
    width: 90%;
  }
  .card {
    padding: 2rem;
    margin: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .sm-width {
    min-width: 6rem;
    max-width: 9rem;
  }
  .mid-width {
    min-width: 40rem;
    max-width: 100rem;
  }

  .xl-width {
    width: 60%;
  }
  .max-width {
    width: 90%;
  }
  .card {
    padding: 2rem;
    margin: 2rem;
  }
}
