@import "colors";
.button-log {
  display: flex;
  white-space: nowrap;

  form {
    display: flex;
  }
}

a.button,
input.button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: block;
}

input.button {
  width: 100%;
  text-align: center;
}
.button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
}

.button-create {
  font-weight: 700;
  color: $white;
  background-color: $palm-green;
  transition: 0.3s;
}

.button-warn {
  font-weight: 700;
  color: $surf-blue-dark;
  background-color: $coralfish-red;
  transition: 0.3s;
}

.button-create:hover,
.button-create:active {
  background-color: $palm-green-dark;
}

.button-warn:hover,
.button-warn:active {
  background-color: $coralfish-yellow;
}

.button-show {
  font-weight: 700;
  color: $white;
  background-color: $surf-blue;
  transition: 0.3s;
}

.button-show:hover,
.button-show:active {
  background-color: $surf-blue-dark;
}

.button-show-active {
  font-weight: 700;
  color: $white;
  background-color: $palm-green;
  text-decoration: underline;
  transition: 0.3s;
}

.button-show-active:hover,
.button-show-active:active,
.button-show-active:clicked {
  background-color: $palm-green-dark;
}

.button-log-radius {
  border-left-color: aquamarine;
  margin-left: -4px;
}

.button-log-radius:first-child {
  border-bottom-left-radius: 9999px;
  border-top-left-radius: 9999px;
}
.button-log-radius:last-child {
  border-bottom-right-radius: 9999px;
  border-top-right-radius: 9999px;
}
// .button-log-radius:only-of-type {
//   border-radius: 9999px;
//   border-width: 0px;
// }

.button-radius {
  border-radius: 99999px;
}

.stacked-pad {
  margin-top: 5px;
  margin-bottom: 5px;
  //position: absolute;
}
