// Place all the styles related to the Dinners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.dinner-card {
  border-color: #9ae6b4;
  border-width: 1px;
  min-width: 10rem;
}

.dinner-card-header {
  padding: 0.25rem 1rem 0.25rem 1rem;
  background-color: $sky-blue;
}

.dinner-card-body {
  font-weight: bold;
  font-size: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}
.dinner {
  grid-row: 1;
  padding: 0.25rem 1rem 0rem 1rem;
}

.love {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  grid-row: 2;
  padding: 0.5rem 1rem 0rem 1rem;
  svg {
    height: 24px;
    width: 24px;
    fill: red;
    margin-left: -20px;
    filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.5));
    z-index: 0;
  }

  svg:first-of-type {
    margin-left: 0px;
    z-index: 10;
    height: 26px;
    width: 26px;
  }
  svg:nth-of-type(2) {
    margin-left: -4px;
    z-index: 8;
  }

  svg:nth-of-type(3) {
    margin-left: -8px;
    z-index: 6;
  }
  svg:nth-of-type(4) {
    margin-left: -16px;
    z-index: 4;
  }
  svg:nth-of-type(5) {
    margin-left: -20px;
    z-index: 2;
  }
}

.dinner-array {
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 935px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

@media only screen and (max-width: 950px) {
  .dinner-array {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dinner-card {
    min-width: 20rem;
    margin-bottom: 1rem;
    border-width: 1px;
    border-radius: 0 0 0.25rem 0.25rem;
  }

  .dinner-card:nth-child(2n) {
    border-left-width: 1px;
  }
}

@media only screen and (min-width: 950px) {
  .dinner-card:first-child {
    border-radius: 0 0 0 0.25rem;
  }
  .dinner-card:last-child {
    border-radius: 0 0 0.25rem 0;
  }

  .dinner-card:nth-child(2n) {
    border-left-width: 0px;
  }
}
