@import "colors";

.header {
  background-color: $palm-green;
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
}

.header-logo {
  grid-column: 1;
  display: flex;
  align-items: center;
  padding-left: 2rem;

  h1 {
    color: $white;
  }
  img {
    grid-column: 2;
    height: 60px;
  }
}

.logo-txt {
  font-size: 1.7rem;
  font-weight: bolder;
}

.header-links {
  grid-column: 2;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
  color: $white;
  a:hover,
  a:active {
    text-decoration: underline;
  }
  .menubox {
    display: block;
  }
}

.header-links > ul li:not(:first-child) {
  display: none;
}

.header-linksresponsive {
  position: absolute;
  width: 100vw;
  top: 70px;
  padding-bottom: 10px;
  z-index: 20;

  background-color: $palm-green;
  color: $white;
  ul li {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 600px) {
  .logo-txt {
    font-size: 3rem;
  }
  .header-links {
    grid-column: 2;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    color: $white;
    a:hover,
    a:active {
      text-decoration: underline;
    }
    .menubox {
      display: block;
    }
  }

  .header-links > ul li:not(:first-child) {
    display: inline-block;
  }
  .header-links > ul li:first-child {
    display: none;
  }
}
