<div class="text" style="display: flex; width: 60%; max-width: 800px; background-color: #fff; border: solid .5px #1c924f; border-radius: 5px; margin-left: auto; margin-right: auto; padding: 20px;">
<div class="img">
  <img src="https://dinnerlove.herokuapp.com/assets/lovacodo-f823aeb4358c5da29bbfe5c5c0d2b6f612e63961b6434a89ae6693a74044d66a.png" alt="Lovacodo" />
</div>
<div>
<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If this wasn't, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
</div>
</div>
