  <div class="dinner-card shadow-lg">
    <div class="dinner-card-header font-semi-bold text-gray-700 mb-2">
      <%= dinner[:day] %>
    </div>
    <div class="dinner-card-body text-black">
      <div class="dinner">
        <%= link_to dinner[:dinner].name, dinner_path(dinner[:dinner]) %>
      </div>
      <div class="love">

          <% show_love(dinner[:dinner].love.to_i) %>

      </div>
    </div>
  </div>
