<div class="flex center max-width">
  <div class="headline">
      <h2 class="info padding-mid">Find new loves...</h2>
    </div>
  </div>
<div class="grid-layout center max-width">
<% @dinners.each do |dinner| %>
  <%= render "general_dinner_card", dinner: dinner %>
<% end %>

</div>
<%= render "/layouts/sub_footer", links: [:shuffle, :add_dinner] %>
