<div class="flex center">
    <div class="dinner-card shadow-lg">
      <div class="dinner-card-header">
        <h2><%= @dinner.name %></h2>
      </div>
      <div class="dinner-card_body">
        <strong>Notes:</strong>
        <%= @dinner.notes %>
        <div class="love">
          <strong>Love:</strong>
          <%= @dinner.loves.count %>
        </div>
      </div>
    </div>
</div>

<% edit = @dinner.user_id == current_user.id ? :edit : "" %>
<%= render "/layouts/sub_footer", links: [:back, :add_dinner, edit] %>
