
<div class="header">
  <div class="header-logo">
    <h1 class="flex p-2 text-3xl">DinnerLove</h1>

  </div>
  <div class="header-links">
    <% if user_signed_in? then %>
      <%= link_to "Settings", edit_user_password_path %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
</div>
