<div class="header">
  <div class="header-logo">
    <%= image_tag "lovacodo.png", class: 'logo', alt: "Logo: Lovacodo" %>
    <h1 class="logo-txt">DinnerLove</h1>
  </div>
  <div class="header-links" id="header-nav">
    <% if user_signed_in? then %>
    <ul>
      <li><a href="javascript:void(0)" class="menubox" id="menubox">Menu</a></li>
      <li><%= link_to "Settings", edit_user_registration_path %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    <% end %>
      </ul>

    </div>
</div>
